<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <header>
        <h1>Welcome to PurseIt marketPlace</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user"> Profile </a></li>
            <li><a href="/listings/new">Add New Listing</a></li>
          </ul>
        </nav>
      </header>
      <main>